@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: content-box
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav .container {
    display: flex;
    padding: 0 50px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
}

.nav, .header, .footer {
    background-color: #1F2937;
    color: white;
}

.nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-weight: 100;
    margin-right: 50px;
}

.nav a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(206, 203, 203);
}

.nav a:hover {
    color: white;
}

.header  {
    max-height: 600px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1, p {
    max-width: 450px;
    flex-wrap: wrap;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
    padding: 0 50px;
    margin-top: 80px;
}

.header p {
    font-size: 18px;
    color: rgb(206, 203, 203);
    padding: 0 50px;
    margin-top: 10px;
}

.header button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-left: 50px;
    padding: 6px;
    border-radius: 10px;
    font-weight: bold;
    border-color: #3882F6;
    margin-bottom: 80px;
}

.header img {
max-width: 300px;
margin-right: 50px;
}

.body h1 {
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 36px;
    font-size: 25px;
}

.body img {
    max-width: 150px;
    border-radius: 20px;
}

.body .container {
    display: flex;
    justify-content: center;
}

.body .text {
    display: flex;
    max-width: 150px;
    flex-wrap: wrap;
    padding: 20px;

}

.quote {
    background-color: #cecccc;
    color: #1F2937;
}

.quote .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote p {
    font-style: italic;
    font-size: 25px;
    max-width: 600px;

}

.quote .attr {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    margin-left: 350px;
    margin-right: 50px;
    margin-bottom: 50px;
} 

.action .container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #3882F6;
    margin: 70px;
}

.action h1 {
    color: white;
    font-size: 20px;
}

.action p {
    color: rgb(206, 203, 203);
    font-size: 15px;
    margin-left: 50px;
}

.action button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    font-weight: bold;
    border-color: white;
    margin: 65px;
    padding: 5px;
}

.footer {
    font-size: 15px;
    text-align: center;
    padding: 30px;
}