@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 40px;
    align-items: center;
}

.header, .hero {
    background-color: #1F2937;
    color: white;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-weight: 100;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(206, 203, 203);
}

.header a:hover {
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
    
}

.hero-hed, .hero-subhed{
    max-width: 350px;
    flex-wrap: wrap;
}

.hero-hed {
    font-size: 48px;
    font-weight: bolder;
    padding: 0 50px;
    margin-top: 80px;
}

.hero-subhed {
    font-size: 18px;
    color: rgb(206, 203, 203);
    padding: 0 50px;
    margin-top: 10px;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-left: 50px;
    padding: 6px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 10px;  
    max-width: 90px;  
    border-color: #3882F6;
}
                                    /* THIS NEEDS FIXING */
.hero-img {

}

.hed {
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 36px;
    font-size: 25px;
}

.img {
    display: flex;
    
}

.text {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #cecccc;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    justify-content: center;
}

.attr {
    display: flex;
    font-weight: bold;
    justify-content: right;
    margin-top: 5px;
    padding: 5px;
    font-size: 30px;
}